<div class="login-form">
  <h3>Log into ValetBike</h3>
  <div class="form">
    <%= form_with url: login_path do |f| %>
    <p class="form-field">
      <%= f.label 'E-mail', class: 'form-lbl' %>
      <%= f.text_field :email, class: 'txt-field' %>
    </p>
    <p class="form-field">
      <%= f.label 'Password', class: 'form-lbl' %>
      <%= f.password_field :password, class: 'txt-field' %>
      <p class="form-field"><%= link_to 'Forgot Password?', password_reset_path, class: 'link-txt' %></p>
    </p>
    <p class="form-button">
      <%= f.submit 'Log in', class: 'btn btn-primary' %>
    </p>
    <% end %>
  </div>
</div>
