<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      ValetBike
    </div>

    <div class="d-flex">
      Sort by
     
      <%= sortable "name"  %> 
      <%= sortable "docked_bike_count"%> 
      <%= sortable "Identifier"%> 
      <%= yield %>
      </div>
	Stations:
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>

    

	</div>
</div>
