<div class="edit-profile-form">
  <div class="user-edit-page">
    <div class="actions">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Account Information</a>
        <!-- <a class="nav-link" data-toggle="pill" href = "/edit/password">Change Password</a> -->
        <%= link_to("Change Password", edit_password_path, class: 'nav-item nav-link') %>
        <%= link_to("View Subscription Plan", users_view_path, class: 'nav-item nav-link') %>
        <%= link_to("Ride History", rentrecord_path, class: 'nav-item nav-link') %>
        <a class="nav-link" data-toggle="pill">Privacy and Security</a>
      </div>
    </div>
    <!-- Update User Information -->
    <div class="details tab-content">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h3>Account Information</h3>
        <%= simple_form_for @c_user, url: users_edit_path, html: {class: 'form-inline'} do |f| %>
        <div class="form-input">
          <%= f.input :first_name, label: 'First Name', class: 'form-control' %>
        </div>
        <div class="form-input">
          <%= f.input :last_name, label: 'Last Name', class: 'form-control' %>
        </div>
        <div class="form-input">
          <%= f.input :email, label: 'Email' %>
        </div>
        <div class="form-button">
          <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
