<div class="user-edit-page">
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Edit Information</a>
      <!-- <a class="nav-link" data-toggle="pill" href = "/edit/password">Change Password</a> -->
      <%= link_to("Change Password", edit_password_path, class: 'nav-item nav-link') %>
      <a class="nav-link" data-toggle="pill">View Subscription Plan</a>
      <a class="nav-link" data-toggle="pill">Previous Trips</a>
      <a class="nav-link" data-toggle="pill">Privacy and Security</a>
      <a class="nav-link" data-toggle="pill">Log Out</a>
    </div>
  </div>
  <!-- Update User Information -->
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <%= simple_form_for Current.user, url: users_edit_path do |f| %>
        <%= f.input :first_name, label: 'First name' %>
        <%= f.input :last_name, label: 'Last name' %>
        <%= f.input :email, label: 'Email' %>
        <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
