<div class="sign-up-form">
  <h3>Sign up with ValetBike</h3>
  <div class="form">
    <%= simple_form_for @user, url: signup_path do |f| %>
    <div class="form-field">
      <label> First Name</label>
      <%= f.input :first_name, label: false, class: 'input-field' %>
    </div>
    <div class="form-field">
      <label> Last Name</label>
      <%= f.input :last_name, label: false, class: 'input-field' %>
    </div>
    <div class="form-field">
      <label> Email</label>
      <%= f.input :email, label: false, class: 'input-field' %>
    </div>
    <div class="form-field">
      <label> Password</label>
      <%= f.input :password, label: false, class: 'input-field' %>
    </div>
    <div class="form-field">
      <label> Confirm Password</label>
      <%= f.input :password_confirmation, label: false, class: 'input-field' %>
    </div>
    <div class="form-button">
      <%= f.button :submit, 'Create Account', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
