<div class="site-container">


  <%= form_for @rented_bike do |f| %>
      <div class="control-group">
        <h1> Bike Checkout</h1>


      <%= f.label "Choose the station want to pick a bike from:", class: 'control-label'%>
      <div class="controls" >
      <%= f.select(:origin_station_id, Station.all.map{|s| [s.name,s.identifier]}, id: "station_select")%>
      </div>

      <%= f.label "Choose the identifier of the bike you want rent", class: 'control-label'%>
      <div class="controls" >
          <%= f.select(:bike_id, Bike.all.order(identifier: :asc).map{|b| [b.identifier,b.identifier]}, id: "bikes_select")%>
      </div>

      <div class="controls">
        <button type="button" class="btn btn-outline-info"><%= link_to "Back",stations_path, class: "link" %></button>
        <button class="btn btn-outline-info" type="submit">Rent Bike</button>
      </div>
  <% end %>
</div>
