<button type="button" class="btn btn-outline-info"><%= link_to "Back",stations_path, class: "link" %></button>
<h1> Checkout a bike!!!!!</h1>


<%= form_for @rented_bike do |f| %>
    <div class="control-group">

    

    <%= f.label "Choose the station want to pick a bike from:", class: 'control-label'%>
    <div class="controls" >
    <%= f.select(:origin_station_id, Station.all.map{|s| [s.name,s.identifier]}, id: "station_select")%>
    </div> 
    <br></br>

    <%= f.label "Choose the identifier of the bike you want rent", class: 'control-label'%>
    <div class="controls" >
        <%= f.select(:bike_id, Bike.all.order(identifier: :asc).map{|b| [b.identifier,b.identifier]}, id: "bikes_select")%>
    </div> 
    <br></br>
    
   
    <div class="controls">
    <button class="btn btn-outline-info" type="submit">Rent!!</button>
    </div>
<% end %>
